body {
    background-color: white;
}

header {
    color: black;
}

.cent {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.H1D {
    border: 1px solid black;
    background-color: lightgray;
}